*{
    padding: 3px;
    margin: 2px;
}
.texto
{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-color: black;
}
body
{
    width: 1000px;
    height: 750px;
    margin-top: 5px;
    border: solid black;
}
nav
{
    background-color: #32CD32;
    width: 1000px;
    height: 100px;
}
.caja
{
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: black;
}
#box
{
    width: 172px;
    height: 70px;
    background-color: white;
    margin: 10px;
    float: left;

}
#box1
{
    width: 172px;
    height: 70px;
    background-color: white;
    margin: 10px;
    float: left;
}
 
#box2
{
    width: 172px;
    height: 70px;
    background-color: white;
    margin: 10px;
    float: left;
}
#box3
{
    width: 172px;
    height: 70px;
    background-color: white;
    margin: 10px;
    float: left;
}
#box4
{
    width: 172px;
    height: 70px;
    background-color: white;
    margin: 10px;
    float: left;
}
#box5
{
    width: 172px;
    height: 70px;
    background-color: white;
    margin: 10px;
    float: left;
}
header
{
    width: 1000px;
    height: 300px;
    background-color: #4169E1;
    border-color: black 2px;
}
#Banner
{
    width: 790px;
    height: 295px;
    float: left;
    background-color: white;
    margin: 2px;
    border-color: black;
}
#logo
{
    width: 195px;
    height: 97px;
    background-color: white;
    float: left;
    margin: 1px;
    border-color: black ;
}
#login
{
    width: 195px;
    height: 97px;
    background-color: beige;
    float: left;
    margin: 1px;
}
#form
{
    width: 195px;
    height: 97px;
    background-color: beige;
    float: left;
    margin: 1px;
}
main
{
 height: 200px;
 background-color: beige;
}
#ladoIzquierdo
{
    width: 320px;
    height: 190px;
    background-color: white;
    float: left;
    margin: 1px;
    border: 3px solid gray;
}
#article
{
    width: 320px;
    height: 190px;
    background-color: white;
    float: left;
    margin: 1px;
    border: 3px solid gray;
}
#ladoDerecho
{
    width: 320px;
    height: 190px;
    background-color: white;
    float: left;
    margin: 1px;
    border: 3px solid gray ;
}
footer
{
    height: 140px;
    background-color: yellow;
    border: 3px solid black;
}

/*__________________MAQUETADO2________________*/

*{
    padding: 0px;
    margin: 2px;
}
.texto
{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-color: black;
}
.body1
{
    width: 750px;
    height: 250px;
    margin-top: 2px;
    border: solid black;
}
.header1
{
    width: 750px;
    height: 250px;
    background-color: #4169E1;
    border-color: black 2px;
}
#Banner1
{
    width: 500px;
    height: 295px;
    float: left;
    background-color: white;
    margin: 2px;
}
#logo2
{
    width: 195px;
    height: 250px;
    background-color: white;
    float: left;
    margin: 1px;
}
#nav1
{
    background-color: #32CD32;
    width: 750px;
    height: 50px;
}
.main1
{
 height: 200px;
 background-color: beige;
}

#article1
{
    width: 450px;
    height: 400px;
    background-color: white;
    float: left;
    margin: 1px;
}
#ladoDerecho1
{
    width: 22px;
    height: 400px;
    background-color: white;
    float: left;
    margin: 1px;
}
.footer1
{
    height: 50px;
    background-color: yellow;

}

